<div class="container">
  <h2>Pedidos</h2>
  <button class="btn btn-primary mb-3" routerLink="/pedido-form">Novo Pedido</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Tipo</th>
        <th>CNPJ/CPF</th>
        <th>Data de Compra</th>
        <th>Valor Total</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.clientName }}</td>
        <td>{{ pedido.tipo }}</td>
        <td>{{ pedido.cnpjOuCpf }}</td>
        <td>{{ pedido.dataCompra }}</td>
        <td>{{ pedido.valorTotal }}</td>
        <td>
          <button class="btn btn-info btn-sm" routerLink="/pedido-form/{{ pedido.id }}">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deletePedido(pedido.id)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
