<div class="container">
  <h2>Formulário de Pedido</h2>
  <form (ngSubmit)="onSubmit()" #pedidoForm="ngForm">
    <div class="form-group">
      <label for="clientName">Nome do Cliente</label>
      <input
        type="text"
        class="form-control"
        id="clientName"
        [(ngModel)]="pedido.clientName"
        name="clientName"
        required
      />
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select
        class="form-control"
        id="tipo"
        [(ngModel)]="pedido.tipo"
        name="tipo"
        required
      >
        <option value="CPF">CPF</option>
        <option value="CNPJ">CNPJ</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cnpjOuCpf">CNPJ ou CPF</label>
      <input
        type="text"
        class="form-control"
        id="cnpjOuCpf"
        [(ngModel)]="pedido.cnpjOuCpf"
        name="cnpjOuCpf"
        required
      />
    </div>

    <div class="form-group">
      <label for="dataCompra">Data da Compra</label>
      <input
        type="date"
        class="form-control"
        id="dataCompra"
        [(ngModel)]="pedido.dataCompra"
        name="dataCompra"
        required
      />
    </div>

    <button type="button" class="btn btn-primary" (click)="openItemList()">
      Adicionar Itens
    </button>

    <div class="form-group">
      <label for="valorTotal">Valor Total</label>
      <input
        type="text"
        class="form-control"
        id="valorTotal"
        [(ngModel)]="pedido.valorTotal"
        name="valorTotal"
        [readonly]="true"
      />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!pedidoForm.form.valid">
      Confirmar Pedido
    </button>
  </form>
</div>
