<div class="container">
  <h2>{{ itemId ? 'Editar Item' : 'Novo Item' }}</h2>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" class="form-control" formControlName="descricao">
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade</label>
      <input type="number" id="quantidade" class="form-control" formControlName="quantidade">
    </div>
    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="number" id="valor" class="form-control" formControlName="valor" step="0.01">
    </div>
    <button type="submit" class="btn btn-primary">{{ itemId ? 'Atualizar' : 'Criar' }}</button>
    <a class="btn btn-secondary" routerLink="/itens">Cancelar</a>
  </form>
</div>
