<div class="container">
  <h2>Selecionar Itens</h2>
  <div>
    <input
      type="text"
      class="form-control d-inline-block mr-2"
      style="width: auto;"
      placeholder="Pesquisar por ID ou Descrição"
      [(ngModel)]="searchQuery"
      (input)="searchItems()"
    />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Produto</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itens">
        <td>{{ item.idProduto }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.valor }}</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="addItem(item)">+</button>
          <button class="btn btn-warning btn-sm" (click)="removeItem(item)">-</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="pedido.itens.length">
    <h3>Itens Selecionados</h3>
    <ul>
      <li *ngFor="let item of pedido.itens">
        {{ item.descricao }} - {{ item.quantidade }} x {{ item.valor }}
      </li>
    </ul>
    <h3>Valor Final: {{ valorFinal | currency }}</h3>
    <p>Valor adicionado do imposto: {{ valorImposto | currency }}</p>
    <button class="btn btn-primary" (click)="confirmPedido()">Criar Pedido</button>
  </div>
</div>
