<div class="container">
  <h2>Itens</h2>
  <div>
    <input
        type="text"
        class="form-control d-inline-block mr-2"
        style="width: auto;"
        placeholder="Pesquisar por ID ou Descrição"
        [(ngModel)]="searchQuery"
        (input)="searchItems()"
      />
    <button class="btn btn-primary mb-3" routerLink="/item-form">Novo Item</button>
  <div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Produto</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itens">
        <td>{{ item.idProduto }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.valor }}</td>
        <td>
          <button class="btn btn-info btn-sm" routerLink="/item-form/{{ item.idProduto }}">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(item.idProduto)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
